.lb-button {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 10;
  grid-row: 2 / 3;
  background: #f2a154;
  z-index: 3;
}

.lb-topbutton {
  border: none;
  outline: none;
}

.leaderboard-top {
  grid-column: 1/10;
  grid-row: 2/4;
  background: #f2a154;
  height: 265px;
  width: auto;
  position: relative;
  margin: 0;
  z-index: 2;
}

.leaderboard-top:before {
  border-top: 35px solid #f2a154;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: 265px;
  width: 0;
}

.lb-icon-middle {
  transform: translateX(-1px) rotate(-37deg) translateY(18px);
  width: 25px;
}

.lb-top-pic {
  align-self: center;
  border-radius: 50%;
  margin-bottom: 5px;
}

.lb-top-general {
  color: #314e52;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  text-align: center;
  margin-top: 5px;
}

#lb-top-left {
  grid-column: 1 / 4;
  grid-row: 3/4;
  z-index: 2;
  margin-top: 27px;
}

#lb-top-big {
  grid-column: 4 / 7;
  grid-row: 3 / 4;
  z-index: 2;
}

#lb-top-right {
  grid-column: 7 / 10;
  grid-row: 3 / 4;
  z-index: 2;
  margin-top: 27px;
}

#lb-pic-middle {
  width: 95px;
  height: 95px;
  border: 5px solid #314e52;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

#lb-pic-big {
  width: 115px;
  height: 115px;
  border: 6px solid #314e52;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.lb-top-wd {
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  text-shadow: 0px 1.5px 4px rgba(0, 0, 0, 0.25);
}

.lb-top-location {
  font-size: normal;
  font-weight: 500;
  font-size: 11px;
  text-shadow: 0px 1.5px 4px rgba(0, 0, 0, 0.25);
}

.lb-top-rank {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  margin-left: 8px;
}

#lb-pic-small {
  position: relative;
  top: 1px;
  right: 19px;
  border-radius: 50%;
  width: 62px;
  height: 62px;
  border: 1px solid #314e52;
}

.lb-all {
  display: flex;
  justify-self: center;
  grid-column: 1 / 10;
  grid-row: 4 / 5;
  z-index: 1;
  padding-top: 48px;
  flex-direction: column;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.lb-card-usertext {
  text-align: center;
}

.lb-card-flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lb-card-rank {
  font-size: 18px;
  height: 69px;
  width: 20px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #314e52;
}

.lb-card-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.lb-triangle {
  display: none;
}

.hexagon {
  margin-bottom: 9px;
  margin-right: 35px;
  position: relative;
  width: 240px;
  height: 69px;
  color: #314e52;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  z-index: 1;
}
.hexagon:before,
.hexagon:after {
  position: absolute;
  content: "";
  width: 255px;
  left: 0px;
  height: 27px;
  z-index: -1;
}

.hexagon:before {
  transform: perspective(12px) rotateX(3deg);
}
.hexagon:after {
  top: 33px;
  transform: perspective(12px) rotateX(-3deg);
}

/* Button Border Style */

.hexagon.border:before,
.hexagon.border:after {
  border: 4px solid #f2a154;
  background: #f2a154;
}
.hexagon.border:before {
  border-bottom: none; /* to prevent the border-line showing up in the middle of the shape */
}
.hexagon.border:after {
  border-top: none; /* to prevent the border-line showing up in the middle of the shape */
}

/* Button hover styles */

.hexagon.border:hover:before,
.hexagon.border:hover:after {
  background: #f2a154;
}
.hexagon.border:hover {
  color: #f7f6e7;
}

:root {
  --border-size: 0.025rem;
  --duration: 250ms;
  --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
  --font-family: krub;
  --color-primary: #f2a154;
  --color-secondary: #314e52;
  --color-tertiary: #314e52;
  --shadow: rgba(0, 0, 0, 0.07);
  --space: 0.2rem;
}

* {
  box-sizing: border-box;
}

.multi-button {
  display: flex;
  width: 70%;
  height: 61%;
  box-shadow: 0px 1.5px 4px var(--shadow);
}

.multi-button button {
  flex-grow: 1;
  cursor: pointer;
  position: relative;
  padding: calc(var(--space) / 1.125) var(--space) var(--space);
  border: var(--border-size) solid black;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  font-size: 0.75rem;
  font-weight: 500;
  font-family: var(--font-family);
  text-transform: lowercase;
  text-shadow: 0px 1.5px 4px var(--shadow);
  transition: flex-grow var(--duration) var(--ease);
}

.multi-button button + button {
  border-left: var(--border-size) solid black;
  margin-left: calc(var(--border-size) * -1);
}

.multi-button button:hover,
.multi-button button:focus {
  flex-grow: 2;
  color: #f2a154;
  outline: none;
  text-shadow: none;
  background-color: var(--color-secondary);
}

.multi-button button:focus {
  outline: var(--border-size);
  outline-offset: calc(var(--border-size) * -3);
}

.multi-button:hover button:focus:not(:hover) {
  flex-grow: 1;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  outline-color: var(--color-tertiary);
}

.multi-button button:active {
  transform: translateY(var(--border-size));
}

@media only screen and (min-device-width: 960px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 1) {
  /* developer note 768 - 1300 */
  .container {
    grid-template-rows: 70px 65px 220px 1fr;
  }

  #lb-pic-middle {
    width: 95px;
    height: 95px;
  }

  #lb-pic-big {
    width: 95px;
    height: 95px;
  }

  .lb-all {
    padding-top: 120px;
  }

  #lb-top-left {
    grid-column: 4 / 7;
    transform: translateX(188px) translateY(100px);
  }

  #lb-top-big {
    grid-column: 4 / 7;
  }

  #lb-top-right {
    grid-column: 4 / 7;
    transform: translateX(-188px) translateY(100px);
  }

  .lb-honeycomb {
    justify-self: center;
    grid-column: 4 / 7;
    grid-row: 3 / 4;
    position: relative;
    width: 200px;
    height: 115.47px;
    background-color: #f2a154;
    margin: 57.74px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }

  #lb-honeycomb-left {
    transform: translateX(-187px) translateY(95px) rotate(30deg);
  }

  #lb-honeycomb-middle {
    transform: translateY(-10px) rotate(30deg);
  }

  #lb-honeycomb-right {
    transform: translateX(187px) translateY(95px) rotate(30deg);
  }

  .lb-honeycomb:before,
  .lb-honeycomb:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 141.42px;
    height: 141.42px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 29.2893px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .lb-honeycomb:before {
    top: -70.7107px;
  }

  .lb-honeycomb:after {
    bottom: -70.7107px;
  }

  /*cover up extra shadows*/
  .lb-honeycomb span {
    display: block;
    position: absolute;
    top: 0px;
    left: 0;
    width: 200px;
    height: 115.4701px;
    z-index: 2;
    background: inherit;
  }

  .leaderboard-top {
    display: none;
  }

  .lb-button {
    display: none;
  }

  .leaderboard-top:before {
    display: none;
  }

  #lb-pic-small {
    left: 60px;
    top: 0px;
  }

  .lb-triangle {
    display: block;
    grid-column: 4 / 7;
    justify-self: center;
    grid-row: 3 / 4;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 90px solid #f2a154;
    z-index: 2;
    outline: none;
  }

  .lb-triangle:hover {
    border-bottom: 90px solid #314e52;
    transition: border-bottom 0.5s;
    outline: none;
  }
  /* 
  .lb-triangle:focus {
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 90px solid #314e52;
    color: #314e52;
  } */

  .lb-triangle:hover > .lb-triangle-text {
    color: #f2a154;
    transition: color 0.5s;
  }

  .lb-triangle:focus > .lb-triangle-text {
    color: #f2a154;
  }

  #lb-triangle-left {
    transform: translateY(220.5px) translateX(-60px);
  }

  #lb-triangle-center {
    transform: translateY(216px) rotate(180deg);
  }

  #lb-triangle-right {
    transform: translateY(220.5px) translateX(60px);
  }

  .lb-triangle-text {
    display: flex;
    width: 30px;
    color: #314e52;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    text-shadow: 0px 1.5px 5px rgba(0, 0, 0, 0.25);
    justify-self: center;
  }

  #lb-triangle-rotate-text {
    transform: translateX(-12px) translateY(50px) rotate(180deg);
  }

  #lb-triangle-transform {
    transform: translateX(-15px) translateY(50px);
  }

  .hexagon {
    width: 600px;
    margin-bottom: 9px;
    margin-right: 53px;
  }

  .hexagon:before,
  .hexagon:after {
    width: 630px;
  }
  .hexagon:before {
    transform: perspective(40px) rotateX(3deg);
  }

  .hexagon:after {
    top: 31px;
    transform: perspective(40px) rotateX(-3deg);
  }

  .lb-card-rank {
    margin-right: 0px;
    transform: translateX(40px);
    font-weight: 500;
    z-index: 2;
  }

  .lb-top-rank {
    transform: translateY(-220px);
    display: flex;
    font-size: 25px;
    font-style: normal;
    font-weight: 450;
    margin-left: 8px;
  }

  #lb-top-left {
    margin-top: 40px;
  }

  #lb-top-big {
    margin-top: -15px;
  }

  #lb-top-right {
    margin-top: 40px;
  }

  .lb-icon-middle {
    transform: translateX(-20px) translateY(4px) rotate(-37deg);
    width: 45px;
  }

  .lb-card-usertext {
    text-align: center;
    transform: translateX();
  }

  .lb-top-location {
    font-size: normal;
    font-weight: 500;
    font-size: 11px;
    text-shadow: 0px 1.5px 4px rgba(0, 0, 0, 0.25);
  }
} /* End of Tablet Media Query */
