.mobile-editprofile {
	display: block;
	grid-column: 1/10;
}

.edit-caption,
.api-caption {
	font-size: 1rem;
	font-family: Krub;
	text-transform: uppercase;
}

.api-caption {
	text-transform: none;
	text-align: end;
}

.u-edit-container-mobile {
	display: grid;
	grid-column: 3/8;
	grid-row: 3;
}

.picture-container {
	display: grid;
	grid-column: 3/8;
	grid-row: 3;
}

.submit-pic {
	grid-row: 2;
}

.err-message {
	color: red;
}

.tablet-editprofile {
	display: none;
}

.u-edit-container-tablet {
	display: none;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1300px) and (-webkit-min-device-pixel-ratio: 1) {
	.mobile-editprofile {
		display: none;
	}

	.tablet-editprofile {
		display: block;
		grid-column: 1/10;
		margin: 100px;
	}

	.u-edit-container-mobile {
		display: none;
	}

	.u-edit-container-tablet {
		display: block;
	}

	* {
		box-sizing: border-box;
	}

	.column {
		float: left;
		padding: 10px;
		height: 400px;
		border: 1px solid black;
	}

	.left {
		width: 30%;
		border-right: none;
	}

	.right {
		width: 70%;
	}

	.row:after {
		content: "";
		display: table;
		clear: both;
	}

	.menu-item-tablet {
		font-size: 1.1rem;
		font-family: Krub;
		text-align: left;
	}
}
