.mobile-editprofile {
	display: block;
	grid-column: 1/10;
}

.edit-caption,
.api-caption {
	font-size: 1rem;
	font-family: Krub;
	text-transform: uppercase;
}

.api-caption {
	text-transform: none;
	text-align: end;
}

.u-edit-container-mobile {
	display: grid;
	grid-column: 3/8;
	grid-row: 3;
}

.submit-pic {
	grid-row: 2;
}

.err-message {
	color: red;
	font-size: 0.7rem;
}

.res-message {
	color: red;
	font-size: 0.7rem;
}

.tablet-editprofile {
	display: none;
}

.u-edit-container-tablet {
	display: none;
}

.bio-textarea {
	width: 250px;
	height: 100px;
	border: 1px solid #d3d3d3;
	border-radius: 4px;
	outline: none;
	resize: none;
	overflow: auto;
	margin-bottom: 1.5rem;
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.1);
}

.back-to,
.go-to {
	font-size: 1.4rem;
}

.hidden {
	display: none;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1300px) and (-webkit-min-device-pixel-ratio: 1) {
	* {
		box-sizing: border-box;
	}

	.mobile-editprofile {
		display: none;
	}

	.tablet-editprofile {
		display: block;
		grid-column: 1/10;
		margin: 100px;
	}

	.u-edit-container-mobile {
		display: none;
	}

	.u-edit-container-tablet {
		display: block;
	}

	.column {
		float: left;
		padding: 10px;
		height: 550px;
		border: 1px solid black;
	}

	.left {
		width: 30%;
		border-right: none;
	}

	.right {
		width: 70%;
	}

	.row:after {
		content: "";
		display: table;
		clear: both;
	}

	.menu-item-tablet {
		font-size: 1.1rem;
		font-family: Krub;
		text-align: left;
	}
}
