.mobile-editprofile {
	display: block;
	grid-column: 1/10;
}

.edit-caption,
.api-caption {
	font-size: 1rem;
	font-family: Krub;
	text-transform: uppercase;
}

.api-caption {
	text-transform: none;
	text-align: end;
}

.u-edit-container {
	display: grid;
	grid-column: 3/8;
	grid-row: 3;
}

.picture-container {
	display: grid;
	grid-column: 3/8;
	grid-row: 3;
}

.submit-pic {
	grid-row: 2;
}

.err-message {
	color: red;
}

.tablet-editprofile {
	display: none;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1300px) and (-webkit-min-device-pixel-ratio: 1) {
	.mobile-editprofile {
		display: none;
	}

	.tablet-editprofile {
		display: block;
	}
}
