.show {
	grid-column: 1/10;
	position: inherit;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 15vh;
	color: #f2a154;
	border-top: 0.5px solid black;
	text-align: center;
	grid-row: 5;
}

.hidden {
	display: none;
}

.footer-img {
	width: 20%;
	margin-top: 1.3rem;
	margin-bottom: 0;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1300px) and (-webkit-min-device-pixel-ratio: 1) {
	.hidden {
		display: none;
	}
	.footer-img {
		width: 5%;
		margin-top: 1rem;
	}
}
