.show {
	grid-column: 1/10;
	position: inherit;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 15vh;
	border-top: 1px solid #f2a154;
	text-align: center;
}

.hidden {
	display: none;
}

.footer-img {
	width: 30%;
	margin-top: 1rem;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1300px) and (-webkit-min-device-pixel-ratio: 1) {
	.hidden {
		display: none;
	}
	.footer-img {
		width: 10%;
		margin-top: 1rem;
	}
}
