@import url("https://fonts.googleapis.com/css2?family=Krub:wght@400;500;600&display=swap");

.header-container {
  grid-column: 1 / 10;
}

.menu-item {
  font-family: "Krub", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #314e52;
}

a {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}
