@import url("https://fonts.googleapis.com/css2?family=Krub:wght@400;500;600&display=swap");

.hidden {
	display: none;
}

.header-container {
	display: grid;
	grid-column: 1 /10;
	grid-row: 1/1;
	margin-bottom: 0;
}

.menu-item {
	font-family: "Krub", sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	color: #314e52;
}

a {
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	color: inherit;
}

.user-container {
	display: grid;
	width: auto;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-column: 1/10;
	grid-row: 2;
}

.user-profile {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-column: 1/10;
	grid-row: 1/10;
	background: #f2a154;
	border-top: 2px solid #f2a154;
	border-bottom: 2px solid #f2a154;
	height: 275px;
	width: auto;
	position: relative;
	margin: 0;
}

.user-profile:before {
	border-top: 35px solid #f2a154;
	border-left: 187.5px solid transparent;
	border-right: 187.5px solid transparent;
	content: "";
	height: 0;
	left: 0;
	position: absolute;
	top: 277px;
	width: 0;
}

.user-info {
	margin-top: 1.5rem;
	grid-column: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
}

.medal {
	grid-column: 1;
	align-self: center;
	justify-self: center;
	font-size: 30px;
	color: #314e52;
}

.profile-pic {
	align-self: center;
	width: 100%;
	border-radius: 50%;
	border: 9px solid #314e52;
}

.username,
.user-location {
	font-family: "Krub", sans-serif;
	font-weight: 500;
	text-align: center;
	color: #314e52;
}

.username {
	font-size: 20px;
	white-space: nowrap;
}

.user-location {
	font-size: 16px;
	margin-top: 0;
}

.all-us-hex {
	display: grid;
	grid-gap: 2rem;
	grid-column: 3;
	grid-row: 3/6;
}

.all-us-b-hex {
	display: grid;
	grid-gap: 2rem;
	align-items: self-end;
	grid-column: -4;
	grid-row: 3/6;
}

.us-hex,
.us-b-hex {
	width: 100px;
	height: 57.735px;
	background: #314e52;
	position: relative;
	transform: rotate(90deg);
	display: flex;
	justify-content: center;
	align-items: center;
}

.us-b-hex {
	background: #f2a154;
}

.us-hex::before,
.us-b-hex::before {
	content: "";
	position: absolute;
	top: -28.8675px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 28.8675px solid #314e52;
}

.us-b-hex::before {
	border-bottom: 28.8675px solid #f2a154;
}

.us-hex::after,
.us-b-hex::after {
	content: "";
	position: absolute;
	bottom: -28.8675px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 28.8675px solid #314e52;
}

.us-b-hex::after {
	border-top: 28.8675px solid #f2a154;
}

.us-hex.border:before,
.us-hex.border:after {
	border: 4px solid #314e52;
	background: #314e52;
}

.us-hex.border:before {
	border-bottom: none;
}

.us-hex.border:after {
	border-top: none;
}

.icons-name {
	margin: 0;
	text-transform: uppercase;
	text-align: initial;
	font-weight: 400;
	font-size: large;
}

.us-b-hex {
}
