@import url("https://fonts.googleapis.com/css2?family=Krub:wght@600&display=swap");

* {
  font-family: Krub;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
}

.container {
  display: grid;
  grid-template-columns: repeat (10, minmax(0, 1fr));
  grid-template-rows: 70px 50px 220px 1fr;
  background-color: #f7f6e7;
}

.lb-button {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 10;
  grid-row: 2 / 3;
  background: #f2a154;
  z-index: 3;
}

.leaderboard-top {
  grid-column: 1/10;
  grid-row: 2/4;
  background: #f2a154;
  height: 260px;
  width: auto;
  position: relative;
  margin: 0;
  z-index: 2;
}

.leaderboard-top:before {
  border-top: 35px solid #f2a154;
  border-left: 188px solid transparent;
  border-right: 188px solid transparent;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: 260px;
  width: 0;
}

/* .lb-best {
  display: flex;
  justify-content: center;
  grid-column: 1 / 10;
  grid-row: 3 / 4;
} */

.lb-icon-middle {
  transform: translateX(-1px) rotate(-37deg) translateY(18px);
  width: 25px;
}

.lb-top-pic {
  align-self: center;
  border-radius: 50%;
  margin-bottom: 5px;
}

.lb-top-general {
  color: #314e52;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  text-align: center;
  margin-top: 5px;
}

#lb-top-left {
  grid-column: 1 / 4;
  grid-row: 3/4;
  z-index: 2;
  margin-top: 27px;
}

#lb-top-big {
  grid-column: 4 / 7;
  grid-row: 3 / 4;
  z-index: 2;
}

#lb-top-right {
  grid-column: 7 / 10;
  grid-row: 3 / 4;
  z-index: 2;
  margin-top: 27px;
}

#lb-pic-middle {
  width: 60%;
  border: 5px solid #314e52;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

#lb-pic-big {
  width: 82%;
  border: 6px solid #314e52;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.lb-top-wd {
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  text-shadow: 0px 1.5px 4px rgba(0, 0, 0, 0.25);
}

.lb-top-location {
  font-size: normal;
  font-weight: 500;
  font-size: 11px;
  text-shadow: 0px 1.5px 4px rgba(0, 0, 0, 0.25);
}

.lb-top-rank {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  margin-left: 8px;
}

#lb-pic-small {
  position: relative;
  top: 1.1px;
  right: 19px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 1px solid #314e52;
}

.lb-all {
  display: flex;
  justify-self: center;
  grid-column: 1 / 10;
  grid-row: 4 / 5;
  z-index: 1;
  padding-top: 45px;
  flex-direction: column;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.lb-card-usertext {
  text-align: center;
}
.lb-card-flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lb-card-rank {
  font-size: 18px;
  height: 69px;
  width: 20px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lb-card-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.hexagon {
  margin-bottom: 9px;
  margin-right: 23px;
  position: relative;
  width: 215px;
  height: 69px;
  color: #314e52;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  z-index: 1;
}
.hexagon:before,
.hexagon:after {
  position: absolute;
  content: "";
  width: 222px;
  left: 0px;
  height: 27px;
  z-index: -1;
}

.hexagon:before {
  transform: perspective(12px) rotateX(3deg);
}
.hexagon:after {
  top: 33px;
  transform: perspective(12px) rotateX(-3deg);
}

/* Button Border Style */

.hexagon.border:before,
.hexagon.border:after {
  border: 4px solid #f2a154;
  background: #f2a154;
}
.hexagon.border:before {
  border-bottom: none; /* to prevent the border-line showing up in the middle of the shape */
}
.hexagon.border:after {
  border-top: none; /* to prevent the border-line showing up in the middle of the shape */
}

/* Button hover styles */

.hexagon.border:hover:before,
.hexagon.border:hover:after {
  background: #f2a154;
}
.hexagon.border:hover {
  color: #f7f6e7;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1300px) and (-webkit-min-device-pixel-ratio: 1) {
  #lb-pic-big {
    width: 70%;
  }

  .honeycomb {
    justify-self: center;
    grid-column: 4 / 7;
    grid-row: 3 / 4;
    transform: translateY(-8px) rotate(30deg);

    position: relative;
    width: 200px;
    height: 115.47px;
    background-color: #f2a154;
    margin: 57.74px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }

  .honeycomb:before,
  .honeycomb:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 141.42px;
    height: 141.42px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 29.2893px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }

  .honeycomb:before {
    top: -70.7107px;
  }

  .honeycomb:after {
    bottom: -70.7107px;
  }

  /*cover up extra shadows*/
  .honeycomb span {
    display: block;
    position: absolute;
    top: 0px;
    left: 0;
    width: 200px;
    height: 115.4701px;
    z-index: 2;
    background: inherit;
  }

  .leaderboard-top {
    display: none;
  }

  .lb-button {
    display: none;
  }

  .leaderboard-top:before {
    display: none;
  }

  #lb-pic-small {
    left: 60px;
  }

  .hexagon {
    width: 600px;
  }

  .hexagon:before,
  .hexagon:after {
    width: 630px;
  }
  .hexagon:before {
    transform: perspective(40px) rotateX(3deg);
  }

  .hexagon:after {
    top: 31px;
    transform: perspective(40px) rotateX(-3deg);
  }
}
