@import url("https://fonts.googleapis.com/css2?family=Krub:wght@600&display=swap");

* {
  font-family: Krub;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat (10, minmax(0, 1fr));
  grid-template-rows: 0.2fr 0.2fr 1fr 2.5fr;
}

.lb-button {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 10;
  grid-row: 2 / 3;
}

/* .lb-best {
  display: flex;
  justify-content: center;
  grid-column: 1 / 10;
  grid-row: 3 / 4;
} */

.lb-top-pic {
  align-self: center;
  border-radius: 50%;
}

#lb-pic-left {
  display: flex;
  width: 70%;
  border: 7px solid #314e52;
  grid-column: 1 / 4;
  grid-row: 3/4;
  justify-content: center;
  justify-self: center;
  margin-left: 10px;
}
#lb-pic-big {
  display: flex;
  width: 82%;
  border: 8px solid #314e52;
  grid-column: 4 / 7;
  grid-row: 3 / 4;
  justify-content: center;
  justify-self: center;
}

#lb-pic-right {
  display: flex;
  width: 70%;
  border: 7px solid #314e52;
  grid-column: 7 / 10;
  grid-row: 3 / 4;
  justify-content: center;
  justify-self: center;
  margin-right: 10px;
}

#lb-pic-small {
  width: 20%;
}

.lb-all {
  display: flex;
  justify-content: center;
  grid-column: 1 / 10;
  grid-row: 4 / 5;
  background-color: #f7f6e7;
  z-index: 1;
}

.hexagon {
  position: relative;
  display: block;
  background: transparent;
  width: 200px;
  height: 80px;
  color: #314e52;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}
.hexagon:before,
.hexagon:after {
  position: absolute;
  content: "";
  width: 200px;
  left: 0px;
  height: 32px;
  z-index: -1;
}

.hexagon:before {
  transform: perspective(8px) rotateX(3deg);
}
.hexagon:after {
  top: 40px;
  transform: perspective(8px) rotateX(-3deg);
}

/* Button Border Style */

.hexagon.border:before,
.hexagon.border:after {
  border: 4px solid #f2a154;
  background: #f2a154;
}
.hexagon.border:before {
  border-bottom: none; /* to prevent the border-line showing up in the middle of the shape */
}
.hexagon.border:after {
  border-top: none; /* to prevent the border-line showing up in the middle of the shape */
}

/* Button hover styles */

.hexagon.border:hover:before,
.hexagon.border:hover:after {
  background: #f2a154;
}
.hexagon.border:hover {
  color: #fff;
}

/* small hexagons */

.lbnavhex {
  position: relative;
  display: flex;
  justify-content: center;
  background: transparent;
  width: 200px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #f2a154;
  margin: 40px auto;
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
.lbnavhex:before,
.lbnavhex:after {
  position: absolute;
  content: "";
  width: 200px;
  left: 0px;
  height: 32px;
  z-index: -1;
}

.lbnavhex:before {
  transform: perspective(8px) rotateX(3deg);
}
.lbnavhex:after {
  top: 40px;
  transform: perspective(8px) rotateX(-3deg);
}

/* Button Border Style */

.lbnavhex.border:before,
.lbnavhex.border:after {
  border: 4px solid #f2a154;
  background: #f2a154;
}
.lbnavhex.border:before {
  border-bottom: none; /* to prevent the border-line showing up in the middle of the shape */
}
.lbnavhex.border:after {
  border-top: none; /* to prevent the border-line showing up in the middle of the shape */
}

/* Button hover styles */

.lbnavhex.border:hover:before,
.lbnavhex.border:hover:after {
  background: #f2a154;
}
.lbnavhex.border:hover {
  color: #fff;
}
