@import url("https://fonts.googleapis.com/css2?family=Krub:wght@600&display=swap");

* {
  font-family: Krub;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  background: #f7f6e7;
}

.container {
  display: grid;
  grid-template-columns: repeat (10, minmax(0, 1fr));
  grid-template-rows: 70px 50px 220px 1fr;
  background-color: #f7f6e7;
}
