.user-container {
	display: grid;
	width: auto;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-column: 1/10;
	grid-row: 2/-1;
}

.user-profile {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-column: 1/10;
	grid-row: 1/10;
	background: #f2a154;
	border-top: 2px solid #f2a154;
	border-bottom: 2px solid #f2a154;
	height: 275px;
	width: auto;
	position: relative;
	margin: 0;
}

.user-profile:before {
	border-top: 35px solid #f2a154;
	border-left: 50vw solid transparent;
	border-right: 50vw solid transparent;
	content: "";
	height: 0;
	left: 0;
	position: absolute;
	top: 277px;
	width: 0;
}

.user-info {
	margin-top: 1.5rem;
	grid-column: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
}

.medal {
	grid-column: 1;
	align-self: center;
	justify-self: center;
	font-size: 30px;
	color: #314e52;
}

.username,
.user-location {
	font-family: "Krub", sans-serif;
	font-weight: 500;
	text-align: center;
	color: #314e52;
}

.username {
	font-size: 20px;
	white-space: nowrap;
}

.user-location {
	font-size: 16px;
	margin-top: 0;
}

.all-us-hex {
	display: grid;
	grid-gap: 2rem;
	grid-column: 3;
	grid-row: 3/6;
	margin-left: 0.5rem;
}

.all-us-b-hex {
	display: grid;
	grid-gap: 2rem;
	align-items: self-end;
	grid-column: -4;
	grid-row: 3/6;
	margin-left: 1rem;
}

.bio-container {
	display: none;
}

.greeting-tablet {
	display: none;
}

.icons-name-tablet {
	display: none;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1300px) and (-webkit-min-device-pixel-ratio: 1) {
	.user-container {
		grid-template-rows: 0.1fr 1fr 0.5fr 0.5fr 0.2fr;
		grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
	}

	.user-profile {
		background: #f7f6e7;
		border-top: none;
		border-bottom: none;
		grid-column: 2;
		grid-row: 2;
		align-self: center;
		justify-self: center;
	}

	.medal {
		grid-column: 2;
		margin-left: 6rem;
	}

	.user-info {
		grid-column: 2/3;
	}

	.user-location {
		display: none;
	}

	.user-profile:before {
		display: none;
	}

	.username {
		display: none;
	}

	.all-us-hex {
		display: flex;
		grid-column: 2/-1;
		grid-row: 4;
		gap: 4.5rem;
		margin-left: 4rem;
		align-items: baseline;
	}

	.all-us-b-hex {
		display: flex;
		grid-column: 2/-1;
		grid-row: 4;
		gap: 4.5rem;
		margin-left: 9.55rem;
		margin-top: 9rem;
		align-items: flex-start;
	}

	.icons-name {
		display: none;
	}

	.tablet-position {
		display: grid;
		grid-gap: 1.5rem;
	}

	.icons-name-tablet {
		display: block;
		text-align: center;
		font-weight: 400;
		font-size: large;
		text-transform: uppercase;
	}

	.bio-container {
		display: flex;
		grid-column: 2/4;
		grid-row: 1;
		justify-content: center;
		align-items: flex-end;
		margin-left: 5rem;
		margin-bottom: 1rem;
	}

	.greeting-tablet {
		display: block;
		font-size: 26px;
		text-align: end;
		margin-top: 5rem;
	}

	.edit-profile {
		white-space: nowrap;
		text-transform: uppercase;
		color: #f2a154;
		font-size: 17px;
		font-weight: lighter;
	}
}
